.Body{
	padding:12%;
    width: 100%;
    text-align: center;
    background-color: gray;
    color:black;
    font-family: Arial,"Helvetica Neue",sans-serif;
}
.center
{
	padding:2%;
    max-width: max-content;
    margin: left-side;
   /* border: solid white;*/
    /*background-color: #2f4f4f;*/
    background-image: white;
    width: 60%;
    /*box-shadow: 11px 8px 11px 4px rgba(21, 21, 21, 0.82);*/

}