.Body{
    text-align: center;
    width:98.9%;
    height:100%;
    background-color: green;
    color: black;
    font-family: Arial,"Helvetica Neue",sans-serif;
}


.container{
    text-align: center;
    /*background-color: #2f4f4f;*/
    background-image: linear-gradient(green,white);
    border: solid white;
    width: 100%;
    max-width: max-content;
    height: 100%;
    box-shadow: 11px 8px 11px 4px rgba(21, 21, 21, 0.82);
    margin: auto;
}

.Button{
    padding: 10px;
    width:65%;
    border: none;
    background-color: green;
    cursor: pointer;
}
.Button:hover{
    opacity: 0.5;
}

.input{
    width:100%;
    padding:6px;
}
